{% macro datos(name,placeholder,type='text') %}
    <div class="mb-3">
        <label for="{{name}}" class="form-label">{{name}}</label>
        <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
    </div>
{% endmacro %}

{% macro campoNuevo(field) %}

<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>
{% if field.errors %}

{% for error in field.errors %}
    <li style="color:red">{{error}}</li>
{%endfor%}
{%endif%}
{% endmacro %}

{% macro entradas(name,placeholder,type='text', errors='None')%}
<div class="mb-3">
    <label for="{{name}}" class="form-label">{{name}}</label>
    <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">

    {% if errors %}

    {% for error in errors %}
    <li style="color:red">{{error}}</li>
    {%endfor%}
    {%endif%}
    
</div>

{% endmacro %}

{% macro radio(name,label,value)%}
<div class="form-check mb2">
    <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_{{value}}" value="{{value}}">
    <label class="form-check-label" for="{{name}}_{{value}}">
        {{label}}
    </label>
</div>
{% endmacro %}

{% macro datos(name,placeholder,type="text") %}
<div class="mb-3">
    <label for="{{name}}" class="form-label">{{name}}</label>
    <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
</div>
{% endmacro %}